<!DOCTYPE HTML>

<html lang="pt-br">

<head>
    <title>HQ PLanet</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../estilo/css/principal.css" />
</head>

<body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="index.html">Enchiridion</a></div>
        <a href="#">HQ's</a> -
        <a href="#">Mangás</a> -
        <a href="#">Jogos</a> -
        <a href="#">Logar</a> -
        <a href="#">Cadastrar</a> -

        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="#">Contato</a></li>

        </ul>
    </nav>

    <!-- One -->
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="grid-style">

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="../../image/2.jpg" alt="" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Descubra o que acontece no mundo geek.</p>
                                <h2>Noticias</h2>
                            </header>
                            <p>Saiba tudo sobre o seu HQ favorito clicando aqui! Noticias fresquinhas todos os dias as
                                10h.</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">Clique aqui!</a>
                            </footer>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="../../image/1.jpg" alt="" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Descubra o que acontece no mundo geek.</p>
                                <h2>Noticias</h2>
                            </header>
                            <p>Saiba tudo sobre o seu HQ favorito clicando aqui! Noticias fresquinhas todos os dias as
                                10h.</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">Clique aqui!</a>
                            </footer>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="../../image/teste.png" alt="" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Descubra o que acontece no mundo geek.</p>
                                <h2>Noticias</h2>
                            </header>
                            <p>Saiba tudo sobre o seu HQ favorito clicando aqui! Noticias fresquinhas todos os dias as
                                10h.</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">Clique aqui!</a>
                            </footer>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="../../image/teste.jpg" alt="" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Descubra o que acontece no mundo geek.</p>
                                <h2>Noticias</h2>
                            </header>
                            <p>Saiba tudo sobre o seu HQ favorito clicando aqui! Noticias fresquinhas todos os dias as
                                10h.</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">Clique aqui!</a>
                            </footer>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="../../image/teste.png" alt="" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Coloque em prática e crie. </p>
                                <h2>Publique</h2>
                            </header>
                            <p>Se inspire, seja criativo, publique, ganhe fama com sua super HQ ou Mangá.</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">Clique aqui</a>
                            </footer>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </div>
        <div class="copyright">
            &copy; Criado por Jose Martins, Edson Fernandes, Stephanie e Delziron.
        </div>
    </footer>

    <!-- Scripts -->
    <script src="../../estilo/js/jquery.min.js"></script>
    <script src="../../estilo/js/jquery.scrollex.min.js"></script>
    <script src="../../estilo/js/skel.min.js"></script>
    <script src="../../estilo/js/util.js"></script>
    <script src="../../estilo/js/main.js"></script>

</body>

</html>