<!DOCTYPE HTML>

<html lang="pt-br">

<head>
    <title>Enchiridion</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../estilo/css/principal.css" />
    <link rel="stylesheet" href="../../estilo/css/css-historias/historias.css" />
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css" />
</head>

<body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="../../Enchiridion.html">Enchiridion</a></div>
        <form class="form-inline">
            <input class="" type="search" placeholder="Buscar História" aria-label="Search">
            <a><i class="fas fa-search"></i></a>
        </form>
        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="../../view/usuario/login.php">Login</a></li>
            <li><a href="../../view/usuario/cadastro.php">Cadastrar</a></li>
            <li><a href="../../view/usuario/publiqueaqui.html">Publique Aqui</a></li>
            <li><a href="../../view/usuario/noticias.html">Notícias</a></li>
            <li><a href="../../view/usuario/grupo.html">Grupos</a></li>
            <li><a href="#">Contato</a></li>

        </ul>
    </nav>

    <!-- One -->
    <div class="listra">
        <div class="container conteudo">
            <div class="conteudo1">
                <div class="submenu">
                    <div class="btn-group" id="cbm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">Comic Book</button>
                        <button type="button" class="btn btn-secondary">Mangás</button>
                    </div>
                    <div class="input-group mb-3" id="selectop">
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>---Categorias---</option>
                            <option value="1">Ação</option>
                            <option value="2">Aventura</option>
                            <option value="3">Comedia</option>
                            <option value="4">Drama</option>
                            <option value="5">Esportes</option>
                            <option value="6">Ficção</option>
                            <option value="7">Romance</option>
                            <option value="8">Terror</option>
                            <option value="9">Amadores</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary" id="filtrar">Filtrar</button>
                </div>
                <hr id="hre">
                <!-- Quadrinhos -->
                
                <div class="box25">
                    <a href="#" class="links"><img src="../../image/Dragonball.jpg">
                        <h6>Dragon Ball</h6>
                    </a>
                </div>
                <div class="box26">
                    <a href="#" class="links"><img src="../../image/x-men.jpg">
                        <h6>X-Men</h6>
                    </a>
                </div>
                <div class="box27">
                    <a href="#" class="links"><img src="../../image/spawn.jpg">
                        <h6>Spawn</h6>
                    </a>
                </div>
                <div class="box28">
                    <a href="#" class="links"><img src="../../image/EsquadrãoSuicida.jpg">
                        <h6>Esquadrão Suicida</h6>
                    </a>
                </div>
                <div class="box29">
                    <a href="#" class="links"><img src="../../image/X-23.jpg">
                        <h6>X-23</h6>
                    </a>
                </div>
                <div class="box30">
                    <a href="#" class="links"><img src="../../image/Spider-man.jpg">
                        <h6>Spider-Man</h6>
                    </a>
                </div>
                <div class="box31">
                    <a href="#" class="links"><img src="../../image/Darth Vader.jpg">
                        <h6>Darth Vader</h6>
                    </a>
                </div>
                <div class="box32">
                    <a href="#" class="links"><img src="../../image/Attackontitan.jpg">
                        <h6>Attack On Titan</h6>
                    </a>
                </div>
                <div class="box33">
                    <a href="#" class="links"><img src="../../image/Flash.jpg">
                        <h6>Flash</h6>
                    </a>
                </div>
                <div class="box34">
                    <a href="#" class="links"><img src="../../image/Iron-man.jpg">
                        <h6>Homem de Ferro</h6>
                    </a>
                </div>
                <div class="box35">
                    <a href="#" class="links"><img src="../../image/LigadaJustica.jpg">
                        <h6>Liga da Justiça</h6>
                    </a>
                </div>
                <div class="box36">
                    <a href="#" class="links"><img src="../../image/Tokyoghoul.jpg">
                        <h6>Tokyo Ghoul</h6>
                    </a>
                </div>
            </div>
            <!-- Número da Página -->
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="First group">
                    <a href="historias.html"><button type="button" class="btn btn-secondary">1</button></a>
                    <a href="historias2.html"><button type="button" class="btn btn-secondary">2</button></a>
                    <button type="button" class="btn btn-secondary">3</button>
                    <button type="button" class="btn btn-secondary">4</button>
                    <button type="button" class="btn btn-secondary">5</button>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <div class="container">
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                </ul>
            </div>
            <div class="copyright">
                &copy; Criado por Jose Martins, Edson Fernandes, Stephanie e Delziron.
            </div>
        </footer>

        <!-- Scripts -->
        <script src="../../estilo/js/jquery.min.js"></script>
        <script src="../../estilo/js/jquery.scrollex.min.js"></script>
        <script src="../../estilo/js/skel.min.js"></script>
        <script src="../../estilo/js/util.js"></script>
        <script src="../../estilo/js/main.js"></script>
        <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>