<!DOCTYPE HTML>

<html lang="pt-br">

<head>
    <title>Enchiridion</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../estilo/css/principal.css" />
    <link rel="stylesheet" href="../../estilo/css/css-historias/historias.css" />
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css" />
</head>

<body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="../../Enchiridion.html">Enchiridion</a></div>
        <form class="form-inline">
            <input class="" type="search" placeholder="Search" aria-label="Search">
            <a><i class="fas fa-search"></i></a>
        </form>
        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="../../view/usuario/login.php">Login</a></li>
            <li><a href="../../view/usuario/cadastro.php">Cadastrar</a></li>
            <li><a href="../../view/usuario/publiqueaqui.html">Publique Aqui</a></li>
            <li><a href="../../view/usuario/noticias.html">Notícias</a></li>
            <li><a href="../../view/usuario/grupo.html">Grupos</a></li>
            <li><a href="#">Contato</a></li>

        </ul>
    </nav>

    <!-- One -->
    <div class="container conteudo">
        <div class="conteudo1">
            <div class="submenu">
                <div class="btn-group" id="cbm" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">Comic Book</button>
                    <button type="button" class="btn btn-secondary">Mangás</button>
                </div>
                <div class="input-group mb-3" id="selectop">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>---Categoria---</option>
                        <option value="1">Ação</option>
                        <option value="2">Aventura</option>
                        <option value="3">Comedia</option>
                        <option value="4">Drama</option>
                        <option value="5">Esportes</option>
                        <option value="6">Ficção</option>
                        <option value="7">Romance</option>
                        <option value="8">Terror</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary" id="filtrar">Filtrar</button>
            </div>
            <hr id="hre">
            <div class="box1">
                <a href="#"><img src="../../image/bokunohero1.jpg">
                    <h6>Boku No Hero</h6>
                </a>
            </div>
            <div class="box2">
                <a href="#"><img src="../../image/bokunohero1.jpg">
                    <h5>Boku No Hero</h5>
                </a>
            </div>
            <div class="box3">
                <a href="#"><img src="../../image/bokunohero1.jpg">
                    <h5>Boku No Hero</h5>
                </a>
            </div>
            <div class="box4">
                <a href="#"><img src="../../image/bokunohero1.jpg">
                    <h5>Boku No Hero</h5>
                </a>
            </div>
        </div>
        <div class="conteudo2">
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </div>
        <div class="copyright">
            &copy; Criado por Jose Martins, Edson Fernandes, Stephanie e Delziron.
        </div>
    </footer>

    <!-- Scripts -->
    <script src="../../estilo/js/jquery.min.js"></script>
    <script src="../../estilo/js/jquery.scrollex.min.js"></script>
    <script src="../../estilo/js/skel.min.js"></script>
    <script src="../../estilo/js/util.js"></script>
    <script src="../../estilo/js/main.js"></script>
    <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>