<!DOCTYPE HTML>

<html lang="pt-br">

<head>
	<title>Enchiridion</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="../../estilo/css/principal.css" />
</head>

<body class="subpage">

	<!-- Header -->
	<header id="header">
		<div class="logo"><a href="../../Enchiridion.html">Enchiridion</a></div>

		<a href="#menu">Menu</a>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="../../view/usuario/login.php">Login</a></li>
            <li><a href="../../view/usuario/cadastro.php">Cadastrar</a></li>
            <li><a href="../../view/usuario/historias.html">Hq's e Mangás</a></li>
            <li><a href="../../view/usuario/grupo.html">Grupos</a></li>
			<li><a href="#">Contato</a></li>
		</ul>
	</nav>

	<!-- One -->
	<section id="One" class="fundo wrapper style1 ">
		<div class="inner">
			<header class="align-center">
				<p>Saiba o que está rolando momento<p>
						<h2><span style="color:white; text-shadow: 3px 3px black;">Notic</span><span style="color:white; text-shadow: 3px 3px black;">ias</span></h2>
			</header>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<header class="align-center">
						<p>Noticias todos os dias as 10h</p>

					</header>
					<div>
						<h3>Novos HQ's Batman</h3>

						<p>A adoravel empresa DC Universe irá voltar a produzir nossos queridos e amados HQ's da série batman, com um
							novo vilão...</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
			</ul>
		</div>
		<div class="copyright">
			&copy; Criado por Jose Martins, Edson Fernandes, Stephanie e Delziron.
		</div>
	</footer>

	<!-- Scripts -->
	<script src="../../estilo/js/jquery.min.js"></script>
	<script src="../../estilo/js/jquery.scrollex.min.js"></script>
	<script src="../../estilo/js/skel.min.js"></script>
	<script src="../../estilo/js/util.js"></script>
	<script src="../../estilo/js/main.js"></script>

</body>

</html>