.subpage {
    background-color: rgba(175, 175, 175, 0.5);
}

.conteudo {
    background-color: white;
    height: 1450px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.conteudo1 {
    float: left;
    height: inherit;
    width: 100%;
}

#cbm {
    float: left;
    position: relative;
    margin: 3.5% 0 0 5%;
}

button.btn.btn-secondary {
    height: 40px;
    background-color: #dae0e4;
    border-color: #53aeff;
}

.btn.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

#selectop {
    width: 50%;
    float: left;
    position: relative;
    margin: 3.5% 0 0 2.5%;
}

#filtrar {
    float: left;
    margin: 3.5% 0 0 3.5%;
    height: 40px;
}

#hre {
    margin-top: 10%;
    width: 85%;
    margin-left: 6%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.form-inline {
    position: absolute;
    margin-left: 39%;
    margin-top: 3px;
}

input[type="search"] {
    border-radius: 10px;
    height: 35px;
    width: 103%;
    position: absolute;
    margin-top: -4px;
}

i.fas.fa-search {
    position: relative;
    margin-left: 23.5em;
    top: -3px;
}

.box1 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: 2% 0 0 6%;
}

.box2 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.1% 0 0 21%;
}

.box3 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.1% 0 0 36%;
}

.box4 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.1% 0 0 51%;
}

.box5 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.1% 0 0 66%;
}

.box6 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.1% 0 0 81%;
}

.box7 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: 1% 0 0 6%;
}

.box8 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.15% 0 0 21%;
}

.box9 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.15% 0 0 36%;
}

.box10 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.15% 0 0 51%;
}

.box11 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.15% 0 0 66%;
}

.box12 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.15% 0 0 81%;
}

.box13 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: 1% 0 0 6%;
}

.box14 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.2% 0 0 21%;
}

.box15 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.2% 0 0 36%;
}

.box16 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.2% 0 0 51%;
}

.box17 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.2% 0 0 66%;
}

.box18 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.2% 0 0 81%;
}

.box19 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: 2% 0 0 6%;
}

.box20 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.2% 0 0 21%;
}

.box21 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.2% 0 0 36%;
}

.box22 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.2% 0 0 51%;
}

.box23 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.2% 0 0 66%;
}

.box24 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.2% 0 0 81%;
}

a>img {
    width: 100%;
    height: 241px;
}

a>img:hover {
    opacity: 0.7;
}

a>h6 {
    margin-top: 10px;
}

.links {
    text-align: center;
    color: black;
}

.links:hover {
    color: navy;
    text-decoration: none;
}

.btn-toolbar {
    float: left;
    position: relative;
    margin: -10% 0 0 42%;
}

button.btn.btn-secondary {
    background-color: whitesmoke;
}

@media (min-width: 320px) and (max-width: 414px) {
    .conteudo {
        height: 2750px;
    }

    #header>.logo a {
        visibility: hidden;
    }

    .form-inline {
        margin-left: 18%;
    }

    input[type="search"] {
        width: 12em;
    }

    i.fas.fa-search {
        margin-left: 10.5em;
    }

    hr {
        visibility: hidden;
    }

    #cbm {
        margin: 3.5% 0 0 15%;
    }

    #selectop {
        margin: 3.5% 0 0 23%;
    }

    #filtrar {
        margin: -2.5% 0 0 30.5%;
        width: 35%;
    }

    a>img {
        height: 200px;
    }

    .box1 {
        position: relative;
        height: 0px;
        width: 27.25%;
        margin: 50% 0 0 6%;
    }

    .box2 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 36%;
    }

    .box3 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 66%;
    }

    .box4 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 90% 0 0 6%;
    }

    .box5 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0 0 0 37%;
    }

    .box6 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0 0 0 67%;
    }

    .box7 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 90% 0 0 6%;
    }

    .box8 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box9 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box10 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 90% 0 0 6%;
    }

    .box11 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box12 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box13 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 90% 0 0 6%;
    }

    .box14 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box15 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box16 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 90% 0 0 6%;
    }

    .box17 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box18 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box19 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 90% 0 0 6%;
    }

    .box20 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box21 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box22 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 90% 0 0 6%;
    }

    .box23 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box24 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .btn-toolbar {
        margin: -25% 0 0 20%;
    }

}

@media (min-width: 771px) and (max-width: 991px) {

    .form-inline {
        margin-left: 30%;
    }

    input[type="search"] {
        width: 24em;
    }

    i.fas.fa-search {
        margin-left: 22em;
    }

    hr {
        visibility: hidden;
    }

    .box1 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 2% 0 0 0%;
    }

    .box2 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 17%;
    }

    .box3 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 34%;
    }

    .box4 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 51%;
    }

    .box5 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 68%;
    }

    .box6 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 85%;
    }

    .box7 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 43% 0 0 0%;
    }

    .box8 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 17%;
    }

    .box9 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 34%;
    }

    .box10 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 51%;
    }

    .box11 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 68%;
    }

    .box12 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 85%;
    }

    .box13 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 43% 0 0 0%;
    }

    .box14 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 17%;
    }

    .box15 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 34%;
    }

    .box16 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 51%;
    }

    .box17 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 68%;
    }

    .box18 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 85%;
    }

    .box19 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 43% 0 0 0%;
    }

    .box20 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 17%;
    }

    .box21 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 34%;
    }

    .box22 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 51%;
    }

    .box23 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 68%;
    }

    .box24 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 85%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .form-inline {
        margin-left: 34%;
    }

    input[type="search"] {
        width: 24em;
    }

    i.fas.fa-search {
        margin-left: 22em;
    }

    hr {
        visibility: hidden;
    }

    .box1 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 2% 0 0 0%;
    }

    .box2 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 17%;
    }

    .box3 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 34%;
    }

    .box4 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 51%;
    }

    .box5 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 68%;
    }

    .box6 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 85%;
    }

    .box7 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 32% 0 0 0%;
    }

    .box8 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 17%;
    }

    .box9 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 34%;
    }

    .box10 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 51%;
    }

    .box11 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 68%;
    }

    .box12 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 85%;
    }

    .box13 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 32% 0 0 0%;
    }

    .box14 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 17%;
    }

    .box15 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 34%;
    }

    .box16 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 51%;
    }

    .box17 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 68%;
    }

    .box18 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 85%;
    }

    .box19 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 32% 0 0 0%;
    }

    .box20 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 17%;
    }

    .box21 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 34%;
    }

    .box22 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 51%;
    }

    .box23 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 68%;
    }

    .box24 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 85%;
    }
}

@media (min-width: 500px) and (max-width: 770px) {
    .conteudo {
        height: 2600px;
    }

    #header>.logo a {
        visibility: hidden;
    }

    .form-inline {
        margin-left: 18%;
    }

    input[type="search"] {
        width: 16em;
    }

    i.fas.fa-search {
        margin-left: 14em;
    }

    hr {
        visibility: hidden;
    }

    #cbm {
        margin: 3.5% 0 0 25%;
    }

    #selectop {
        margin: 3.5% 0 0 23%;
    }

    #filtrar {
        margin: -2.5% 0 0 30.5%;
        width: 35%;
    }

    a>img {
        height: 200px;
    }

    .box1 {
        position: relative;
        height: 0px;
        width: 27.25%;
        margin: 50% 0 0 6%;
    }

    .box2 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 36%;
    }

    .box3 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 66%;
    }

    .box4 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box5 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0 0 0 37%;
    }

    .box6 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0 0 0 67%;
    }

    .box7 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box8 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box9 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box10 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box11 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box12 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box13 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box14 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box15 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box16 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box17 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box18 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box19 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box20 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box21 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box22 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box23 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box24 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box25 {
        position: relative;
        height: 0px;
        width: 27.25%;
        margin: 50% 0 0 6%;
    }

    .box26 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 36%;
    }

    .box27 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 66%;
    }

    .box28 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box29 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0 0 0 37%;
    }

    .box30 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0 0 0 67%;
    }

    .box31 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box32 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box33 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box34 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box35 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box36 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .btn-toolbar {
        margin: -25% 0 0 30%;
    }
}

.box25 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: 2% 0 0 6%;
}

.box26 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.1% 0 0 21%;
}

.box27 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.1% 0 0 36%;
}

.box28 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.1% 0 0 51%;
}

.box29 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.1% 0 0 66%;
}

.box30 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.1% 0 0 81%;
}

.box31 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: 2% 0 0 6%;
}

.box32 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.1% 0 0 21%;
}

.box33 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.1% 0 0 36%;
}

.box34 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.1% 0 0 51%;
}

.box35 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.1% 0 0 66%;
}

.box36 {
    position: relative;
    /* border: 1px solid black; */
    height: 280px;
    width: 12.25%;
    margin: -25.1% 0 0 81%;
}

@media (min-width: 320px) and (max-width: 414px) {
    .conteudo {
        height: 2750px;
    }

    #header>.logo a {
        visibility: hidden;
    }

    .form-inline {
        margin-left: 18%;
    }

    input[type="search"] {
        width: 12em;
    }

    i.fas.fa-search {
        margin-left: 10.5em;
    }

    hr {
        visibility: hidden;
    }

    #cbm {
        margin: 3.5% 0 0 15%;
    }

    #selectop {
        margin: 3.5% 0 0 23%;
    }

    #filtrar {
        margin: -2.5% 0 0 30.5%;
        width: 35%;
    }

    a>img {
        height: 200px;
    }

    .box25 {
        position: relative;
        height: 0px;
        width: 27.25%;
        margin: 50% 0 0 6%;
    }

    .box26 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 36%;
    }

    .box27 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 66%;
    }

    .box28 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 90% 0 0 6%;
    }

    .box29 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0 0 0 37%;
    }

    .box30 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0 0 0 67%;
    }

    .box31 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 90% 0 0 6%;
    }

    .box32 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box33 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box34 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 90% 0 0 6%;
    }

    .box35 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box36 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .btn-toolbar {
        margin: -25% 0 0 20%;
    }
}

@media (min-width: 771px) and (max-width: 991px) {

    .form-inline {
        margin-left: 30%;
    }

    input[type="search"] {
        width: 24em;
    }

    i.fas.fa-search {
        margin-left: 22em;
    }

    hr {
        visibility: hidden;
    }

    .box25 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 2% 0 0 0%;
    }

    .box26 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 17%;
    }

    .box27 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 34%;
    }

    .box28 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 51%;
    }

    .box29 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 68%;
    }

    .box30 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 85%;
    }

    .box31 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 43% 0 0 0%;
    }

    .box32 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 17%;
    }

    .box33 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 34%;
    }

    .box34 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 51%;
    }

    .box35 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 68%;
    }

    .box36 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 85%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .form-inline {
        margin-left: 34%;
    }

    input[type="search"] {
        width: 24em;
    }

    i.fas.fa-search {
        margin-left: 22em;
    }

    hr {
        visibility: hidden;
    }

    .box25 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 2% 0 0 0%;
    }

    .box26 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 17%;
    }

    .box27 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 34%;
    }

    .box28 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 51%;
    }

    .box29 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 68%;
    }

    .box30 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 85%;
    }

    .box31 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 32% 0 0 0%;
    }

    .box32 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 17%;
    }

    .box33 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 34%;
    }

    .box34 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 51%;
    }

    .box35 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 68%;
    }

    .box36 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 15%;
        margin: 0% 0 0 85%;
    }
}

@media (min-width: 500px) and (max-width: 770px) {
    .conteudo {
        height: 2600px;
    }

    #header>.logo a {
        visibility: hidden;
    }

    .form-inline {
        margin-left: 18%;
    }

    input[type="search"] {
        width: 16em;
    }

    i.fas.fa-search {
        margin-left: 14em;
    }

    hr {
        visibility: hidden;
    }

    #cbm {
        margin: 3.5% 0 0 25%;
    }

    #selectop {
        margin: 3.5% 0 0 23%;
    }

    #filtrar {
        margin: -2.5% 0 0 30.5%;
        width: 35%;
    }

    a>img {
        height: 200px;
    }

    .box1 {
        position: relative;
        height: 0px;
        width: 27.25%;
        margin: 50% 0 0 6%;
    }

    .box2 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 36%;
    }

    .box3 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 66%;
    }

    .box4 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box5 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0 0 0 37%;
    }

    .box6 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0 0 0 67%;
    }

    .box7 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box8 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box9 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box10 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box11 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box12 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box13 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box14 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box15 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box16 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box17 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box18 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box19 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box20 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box21 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box22 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box23 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box24 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box25 {
        position: relative;
        height: 0px;
        width: 27.25%;
        margin: 50% 0 0 6%;
    }

    .box26 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 36%;
    }

    .box27 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 66%;
    }

    .box28 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box29 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0 0 0 37%;
    }

    .box30 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0 0 0 67%;
    }

    .box31 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box32 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box33 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .box34 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 65% 0 0 6%;
    }

    .box35 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 37%;
    }

    .box36 {
        position: relative;
        /* border: 1px solid black; */
        height: 0px;
        width: 27.25%;
        margin: 0% 0 0 67%;
    }

    .btn-toolbar {
        margin: -25% 0 0 30%;
    }
}